<header>
    <span (click)="toggleSidebar()"><i class="fa fa-exchange" aria-hidden="true"></i></span>
    <img src="http://media.istockphoto.com/photos/businessman-silhouette-as-avatar-or-default-profile-picture-picture-id476085198?k=6&m=476085198&s=612x612&w=0&h=5cDQxXHFzgyz8qYeBQu2gCZq1_TN0z40e_8ayzne0X0=" alt="avatar">
    <div class="user">
        <label><i class="fa fa-user" aria-hidden="true"></i> User:</label>
        <p>{{profile.email}}</p>
    </div>
    <button type="button" class="btn exit large" (click)="authService.logout()"><i class="fa fa-external-link" aria-hidden="true"></i> Выход</button>
    <button type="button" class="btn exit small" (click)="authService.logout()"><i class="fa fa-external-link" aria-hidden="true"></i></button>
</header>
<div class="adm-container">
    <div class="adm-sidebar" [ngClass]="{'off': sidebar}">
        <ul>
            <li [routerLinkActive]="['active']" routerLink="/admin/table"><i class="fa fa-th-list" aria-hidden="true"></i><label [ngClass]="{'hidden': sidebar}">Таблица</label></li>
            <li [routerLinkActive]="['active']" routerLink="/admin/add"><i class="fa fa-plus" aria-hidden="true"></i><label [ngClass]="{'hidden': sidebar}">Добавить</label></li>
        </ul>
    </div>
    <div class="adm-content" [ngClass]="{'on': sidebar}">
        <router-outlet></router-outlet>
    </div>
</div>
<app-result-handler></app-result-handler>
