<div class="sidebar-background" [ngClass]="{'on': show}" (click)="toggleSidebar()"></div>
<div class="sidebar" [ngClass]="{'on': show}">

	<div class="sidebar-topline">
		<button class="btn btn-success search-boxes" (click)="searchBoxes()"><span class="svg-saerch"><i class="fa fa-search" aria-hidden="true"></i></span>Поиск</button>
		<div class="close-sidebar"  [ngClass]="{'on': show}" (click)="toggleSidebar()">&times;</div>
	</div>

	<div *ngIf="showSlider" class="sidebar-content">
		<div class="filter-block">
			<h4>Банки</h4>
			<select class="form-control" [(ngModel)]="town">
				<option value="">Выбрать город</option>
				<option *ngFor="let town of towns" value="{{town?.town}}">{{town?.town}}</option>
			</select>
			<div class="bank-block-checkbox"> 
				<label *ngFor="let bank of banks"><input type="checkbox" [(ngModel)]="bank.checked" value="{{bank.value}}"> {{bank.name}}</label>
			</div>
		</div>

		<hr>

		<div class="filter-block">
			<h4>Цена</h4>
			<p>Строк:</p>
			<select class="form-control" [(ngModel)]="term">
				<option value="price_per_day">1 день</option>
				<option value="price_per_month">До 1 месяца</option>
				<option value="price_for_3_months">От 1 до 3 месяцев</option>
				<option value="price_for_6_months">От 3 до 6 месяцев</option>
				<option value="price_per_year">От 6 до 12 месяцев</option>
				<option value="price_more_year">От 12 месяцев</option>
			</select>
			<input class="form-control" type="number" (change)="changeRange()" [(ngModel)]="priceRange[0]"> &mdash; <input class="form-control" type="number" (change)="changeRange()" [(ngModel)]="priceRange[1]">
			<span class="input-name">грн</span>
			<div class="nouislider-wrapper">
				<nouislider [connect]="true" [min]="rangeValues.minPrice" [max]="rangeValues.maxPrice" [step]="1" [(ngModel)]="priceRange"></nouislider>
			</div>
		</div>

		<hr>

		<div class="filter-block">
			<h4>Размер</h4>
			<p>Высота:</p>
			<input class="form-control" type="number" (change)="changeRange()" [(ngModel)]="heightRange[0]"> &mdash; <input class="form-control" type="number" (change)="changeRange()" [(ngModel)]="heightRange[1]">
			<span class="input-name">мм</span>
			<div class="nouislider-wrapper">
				<nouislider [connect]="true" [min]="rangeValues.minHeight" [max]="rangeValues.maxHeight" [step]="1" [(ngModel)]="heightRange"></nouislider>
			</div>

			<p>Ширина:</p>
			<input class="form-control" type="number" (change)="changeRange()" [(ngModel)]="widthRange[0]"> &mdash; <input class="form-control" type="number" (change)="changeRange()" [(ngModel)]="widthRange[1]">
			<span class="input-name">мм</span>
			<div class="nouislider-wrapper">
				<nouislider [connect]="true" [min]="rangeValues.minWidth" [max]="rangeValues.maxWidth" [step]="1" [(ngModel)]="widthRange"></nouislider>
			</div>

			<p>Глубина:</p>
			<input class="form-control" type="number" (change)="changeRange()" [(ngModel)]="lengthRange[0]"> &mdash; <input class="form-control" type="number" (change)="changeRange()" [(ngModel)]="lengthRange[1]">
			<span class="input-name">мм</span>
			<div class="nouislider-wrapper">
				<nouislider [connect]="true" [min]="rangeValues.minLength" [max]="rangeValues.maxLength" [step]="1" [(ngModel)]="lengthRange"></nouislider>
			</div>
		</div>

		<hr>

		<div class="filter-block">
			<h4>Дополнительные параметры</h4>
			<p>Залог:</p>
			<input class="form-control deposit-input" type="number" (change)="changeRange()" [(ngModel)]="depositRange[0]"> &mdash; <input class="form-control deposit-input" type="number" (change)="changeRange()" [(ngModel)]="depositRange[1]">
			<span class="input-name">грн</span>
			<div class="nouislider-wrapper">
				<nouislider [connect]="true" [min]="rangeValues.minDeposit" [max]="rangeValues.maxDeposit" [step]="1" [(ngModel)]="depositRange"></nouislider>
			</div>

			<p>Строк:</p>
			<input class="form-control" type="number" (change)="changeRange()" [(ngModel)]="min_termRange[0]"> &mdash; <input class="form-control" type="number" (change)="changeRange()" [(ngModel)]="min_termRange[1]">
			<span class="input-name">дней</span>
			<div class="nouislider-wrapper">
				<nouislider [connect]="true" [min]="rangeValues.minMinTerm" [max]="rangeValues.maxMinTerm" [step]="1" [(ngModel)]="min_termRange"></nouislider>
			</div>
		</div>

		
	</div>
  
</div>