<header [ngStyle]="{'background-image': 'url(' + bg + ')'}">
	<div class="container header-content">
		<div style="visibility: hidden" class="top-line">
			<ul class="language">
				<li>en</li>
				<li>ru</li>
				<li>ua</li>
			</ul>
		</div>

		<div class="middle-line">
			<h1>Банковская ячейка</h1>
			<h2>Депозитные ячейки банков Украины</h2>
			<a class="filter-button btn btn-success" routerLink='/search'>Поиск</a>
		</div>
	</div>
</header>

<footer>
	<div class="container">
		<p class="email">yacheyka.com@gmail.com</p>
		<p class="copyright">&copy; D.O.Kondratenko, 2016 &mdash; 2017</p>
	</div>
</footer>